*{
    font-family: 'Roboto', sans-serif;
}
#cabezal{
    background-color: #f7f8f8
}
#cabezal ul{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0
}
#cabezal ul li a{
    display: block;
    padding: 10px 0;
    color: #322f31;
    border-top:2px solid transparent
}
#cabezal ul li a:hover, #cabezal ul li a.activo{
    color: #322f31;
    text-decoration: none;
    border-top:2px solid #322f31
}

#intro{
    background-image: url(../img/auriculares1.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    padding-top:25vh;
}
h1{
    text-align: center;
    font-weight: 900
}
#intro a{
    display: block;
    width: 80%;
    margin: 40px auto;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px
}
#productos h1, #contacto h1{
    margin: 50px 0;
}
#productos h2{
    font-size: 24px;
    font-weight: 900
}
#productos a{
     display: block;
    margin: 40px auto;
    width: 50%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    text-align: center
}
#contacto{
    background-color: #f7f8f8
}
input, textarea{
    display: block;
    margin: 20px 0;
    padding: 5px;
    width: 100%
}
textarea{
    height: 300px;
}
input[type="submit"]{
    margin: 40px auto;
    width: 50%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border:none;
    border-radius: 20px;
    text-align: center
}

footer{
    background-color: #000;
    padding: 50px;
    color: #fff;
    text-align: center
}
/*----------------------------------*/
#introComplemento{
    background-image: url(../img/complemento1.jpeg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 80vh;
    padding-top:25vh;
    color:#fff
}
#introComplemento h1,#introComplemento h2, #productoComplemento h1{
    text-align: left;
    margin: 20px 0
}
#productoComplemento{
    background-color: #f7f8f8
}